<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            Location Information
        </div>
        <div class="item">
            <h2>Our Adress</h2>
            <p>
              121, Clear Water Bay Road<br />
              Clear Water Bay, Kowloon<br />
              HONG KONG<br />
              <i class="icon ion-ios-telephone"></i>: +852 1234 5678<br />
              <i class="icon ion-printer"></i>: +852 8765 4321<br />
              <i class="icon ion-email"></i>:confusion@food.net<br />
            </p>

        </div>
        <div class="button-bar">
          <a href="tel:+852 1234 5678" class="button button-positive icon-left ion-ios-telephone">Call</a>
          <a class="button button-calm icon-left ion-ion-social-skype">Skype</a>
          <a href="mailto:confusion@food.net" class="button button-balanced icon-left ion-email">Email</a>
        </div>
    </div>
  </ion-content>
</ion-view>
